.productDetail--Box{
    margin: auto;
}
.productData{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    padding: 0px 40px;
}

.product--bigImage{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 20px;
    border-radius: 5px;
}

.addAndCartBtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
    margin: 30px auto;
}
.price-detail-page{
    font-size: 26px;
    font-weight: bold;
    color: #333333;

}
.productDetailSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
    padding: 20px 0px;
}
.productDetailSection > div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    border-radius: 5px;
}

.productDetailSection h2{
    color: #999999;
}
.productDetailSection h1{
    color: #333333;
}
.rating-block--d{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rating-block--d > span:nth-child(2){
    font-size: 12px;
    color: #777676;
}

.rating-block--d > span:nth-child(1){
    font-size: 14px;
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgb(25, 231, 135);
    border-radius: 20px;
    color: white;
}
.delivery--d{
    margin: 10px 0px;
}
.delivery--d > span{
    background-color: #eee6e6;
    color: rgb(53, 51, 51);
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 13px;
}
.size--d > span{
    font-size: 14px;
    background-color: #eee6e6;
    color: rgb(53, 51, 51);
    padding: 3px 5px;
    border-radius: 10px;
}
.addAndCartBtn{
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}
#addToCartBtn{
    padding: 12px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#addToCartBtn:hover{
    background-color: #9d91f8;
}
#buyNowBtn{
    border: none;
    background-color: #f43397;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}








/* * {box-sizing: border-box;} */

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}